{% extends 'base.html' %}
{% block content %}
<dl>
    {% for snack in snacks %}
        <dt>Name: {{ snack.name }} </dt>
        <dd>Kind: {{ snack.kind }} </dd>
    {% endfor %}
</dl>

<form action="{{ url_for('show', id=snack.id)}}?_method=PATCH" method="POST">
	<label for="name" style="color:maroon; font-size: 18px; font-style: italic;">Name of snack to edit:</label>
	<input type="text" name="name" value="{{snack.name}}">
	<label for="new_name" style="color:maroon; font-size: 18px; font-style: italic;">New name:</label>
	<input type="text" name="new_name" >
	<input type="submit" value="Edit a snack">
</form>

{% endblock %}

